<% provide(:title, "Home")%>
	<head>
		<title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
	</head>
	<body>
		<h1>Sample Home Page</h1>
		<p>
			This is the homepage for the
			<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
			sample application
			<br>
			<a href="signup">Register here!</a>
		</p>
	</body>